<div class="w-full pt-8 pb-8">
    <div class="w-[60%] sm:hidden flex gap-5" #project>
        <div class="cursor-pointer font-medium transition-all ease-in text-[#9D9D9F] text-[0.9rem]"
            *ngFor="let item of projects" (click)="setActiveProject(item)">{{item}}</div>
    </div>

    <!--Projects-->
    <div class="w-full flex flex-wrap gap-x-5 gap-y-8 pt-8 pr-5 justify-start">
        <div class="group w-[16rem] flex flex-col cursor-pointer sm:w-auto" *ngFor="let project of projectData">
            <div class="pb-1 relative overflow-hidden rounded-lg">
                <div class="w-[3rem] h-[3rem] rounded-md bg-[#383838] flex justify-center items-center 
                absolute inset-0 m-auto z-50 opacity-0 group-hover:opacity-100">
                    <ion-icon name="eye-outline" class="text-[1.3rem] text-[#ffdb70]"></ion-icon>
                </div>
                <img src="../../../assets/portfolio/project-1.jpg" alt="project"
                    class="rounded-lg transition duration-200 ease-in-out group-hover:brightness-50 group-hover:scale-125">
            </div>
            <div class="text-white text-[0.9rem] py-1">{{project.title}}</div>
            <div class="text-[#9D9D9F] text-[0.9rem]">{{project.category}}</div>
        </div>
    </div>
</div>